<nav class="navbar navbar-expand-lg ">
  <div class="container-fluid justify-content-between">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Recipe Book</a>
    </div>

    <div class="collapse navbar-collapse " >
      <ul class="nav navbar-nav ms-auto">
        <li class="nav-item" routerLinkActive>
          <a class="nav-link" routerLink="/recipes">Recipes</a>
        </li>
        <li class="nav-item" routerLinkActive>
          <a class="nav-link" routerLink="/shopping-list">Shopping List</a>
        </li>
      </ul>

      <ul class="nav navbar-nav ms-auto ">
       <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown link
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item"  style="cursor: pointer">Action</a></li>
            <li><a class="dropdown-item"  style="cursor: pointer">Another action</a></li>
            <li><a class="dropdown-item"  style="cursor: pointer">Something else here</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
