<div class="row">
  <div class="col-12">
    <form>
      <div class="form-group row col-3 p-1">
        <label for="email"> E-Mail </label>
        <input type="text" id="email">
      </div>
      <div class="form-group row  col-3 p-1 ">
        <label for="password"> Password </label>
        <input type="text" id="password">
      </div>
      <div class="row p-1 col-3">
        <button class="btn btn-primary m-1" type="submit">{{isLoginMode ? 'Login' : 'Sign Up'}}</button>
        <button class="btn btn-primary m-1" type="button" (click)="onSwitchMode()">Switch to {{ isLoginMode ? 'Sign Up' : 'Login' }}</button>
      </div>
    </form>
  </div>
</div>
