<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success">New Recipe</button>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-sx-12 list-group">
    <a href="#" class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let recipe of recipes">
      <div class="">
        <h4 class="">{{ recipe.name }}</h4>
        <p class=""> {{ recipe.description }}</p>
      </div>
      <span>
      <img [src]="recipe.imagePath" alt="{{ recipe.name }}" class="img-responsive" style="max-height: 50px">
      </span>
    </a>
    <recipe-item></recipe-item>
  </div>
</div>
